@import url(reset.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;800&family=Rampart+One&display=swap');

/* font-family: 'Nanum Myeongjo', serif;
font-family: 'Rampart One', cursive; */
:root{
    --colorPrincipal: rgb(21, 99, 163);
    --colorSecundario: orange;
    --colorLetra:white;
    --hoverColor: rgba(240, 26, 26, 0.904);
    --fontMain: 'Nanum Myeongjo', serif;
    --priourgente: red;
    --prionormal:yellow;
    --priorelaxed:green;
    --fontSize: 16px;
}

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

body{
    font-family: var(--fontMain);
    
}

.wrapper{
    margin: 10px auto;
    max-width: 800px;
    padding: 0 5px;
}


/*HEADER*/
header{
    background-color: var(--colorPrincipal);
    color: var(--colorLetra);
    padding: 3px;
}

header div nav ul {
    font-family: 'Rampart One';
    display: flex;
    justify-content: space-evenly;
    
}

header div nav ul li a{    
    text-decoration: none;
    color: var(--colorLetra);
}

header div>div{
    display: flex;
    justify-content: space-between;
    font-size: 150%;
    margin-bottom: 10px;
    font-weight: 800;
}

header div >div div{
    cursor: pointer;
}

header div >div div:hover{
    color: var(--hoverColor);
}

header div nav {
    margin-bottom: 3px;
}

header div nav ul li:hover a{    
    color: var(--hoverColor);
}
/* #active{
    
    color: var(--hoverColor);
} */


/*FIN HEADER*/


/*** MAIN ***/


/*TASKS*/
main .wrapper .tasks article .task{
    display: flex;
    align-items: center;
    justify-content: space-around;    
    margin: 10px auto 0px auto;
    padding :5px;
    border: 1px solid var(--colorPrincipal);
    box-shadow:2px 2px 2px 1px var(--colorPrincipal);
    
    
}

main .wrapper .tasks article .task h3{
    padding-left: 10px;
    flex-grow: 3;
    font-weight: bold;
    cursor: pointer;
}

main .wrapper .tasks article .task p{
    margin-right: 5px;
    
}

main .wrapper .tasks article .task i:last-child{
    color: red;    
    cursor: pointer;
}
main .wrapper .tasks article .task i:first-child{
    color: white;  
    cursor: pointer;  
}

main .wrapper .tasks article .description{
    
    height: auto;    
    border-bottom: 1px solid var(--colorPrincipal);
    border-left: 1px solid var(--colorPrincipal);
    border-right: 1px solid var(--colorPrincipal);
    box-shadow:1px 1px 1px 1px var(--colorPrincipal);
    transition: 0.5s;
}

main .wrapper .tasks article .description p{
    padding: 10px;
    
}

main .wrapper .tasks article .description input{
    width: 80%;
    margin:0 auto 20px auto;
    padding: 10px;
    display:block;
}

main .wrapper .tasks article .description button{
    width: 80%;
    margin:0 auto 20px auto;
    padding: 10px;
    display:block;
    background-color: var(--colorPrincipal);
    color: white;
    cursor: pointer;
}

/*FIN TASKS*/

/*INICIO ADD*/

.add {
    text-align: center;
    color: white;
    font-size: calc(var(--fontSize) * 3);
    position: fixed;
    width: 100%;
    bottom: 0;   
    background-color: var(--colorPrincipal);
    padding-top: 3px;
    
}

.add:hover i {
    
    color: red;
    
}
.add i{
    cursor: pointer;
}

/*FIN ADD*/

/*INICIO POP UP*/

.popup{
    display: none;  /*change to flex for visibility*/
    flex-direction: column;        
}

.popup input, .popup select, .popup button{
    margin: 20px; 
    height: 50px;      
    cursor: pointer;
    box-shadow: 2px 2px 2px #000000, 0px 0px 1px #0d0d0d;
    background:var(--colorSecundario);
    border-radius: 5px;
    border: 0.2px solid #010101;
    color: white;
    font-family: var(--fontMain);
    font-weight: bold;
    text-align: center;
}

.popup button{    
    background:var(--colorPrincipal);
   
}

.popup p{
    text-align: center;
}

.popup input:nth-child(2){
    height: 300px;
}

.popup input::placeholder{
    color:white;
    font-family: var(--fontMain);
    
}
/*FIN POP UP*/




/* PERSONALIZAR EL INPUT SLIDER*/

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  }



/*FIN Personalizado de INPU SLIDER*/






/*** FIN MAIN ***/